form {
  color: beige;
  width: 800px;
  margin-left: 150px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  color: antiquewhite !important;
}
label {
  font-weight: bolder;
  color: deepskyblue;
  font-size: x-large;
}
.error-message {
  background-color: aliceblue;
  width: 600px;
  margin-left: 150px;
  font-size: large;
  color: rgb(214, 5, 5);
}
